main/default/flows/Test_Subflow_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_3333</name>
        <label>Test 3333</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>Test_3333</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Test Subflow 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Subflow 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_33</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Test_33</name>
        <label>Test 33</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Test_3333</targetReference>
        </connector>
        <flowName>Test_Wait_Element</flowName>
        <inputAssignments>
            <name>testvar</name>
        </inputAssignments>
    </subflows>
</Flow>
