main/default/flows/Transform_Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>TEst DDD</description>
        <name>Test_22</name>
        <label>Test 222</label>
        <locationX>1458</locationX>
        <locationY>1140</locationY>
        <actionName>Account.Test_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>jhgjhb</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Test</description>
        <name>Test_Action</name>
        <label>Test Action</label>
        <locationX>930</locationX>
        <locationY>1032</locationY>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Test_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue>324534454545</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Customer - Direct</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Website</name>
            <value>
                <stringValue>www.test.tt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Industry</name>
            <value>
                <stringValue>Electronics</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Test</description>
        <name>Test_Email_Alert</name>
        <label>Test Email Alert</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Account.Test_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Test_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Description TEST 1</description>
        <name>Test_Assignment</name>
        <label>Test Assignment</label>
        <locationX>1194</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>AccData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Test_Transform</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Description TEst 9</description>
        <name>Collection_Filter_test</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter test</label>
        <locationX>666</locationX>
        <locationY>1248</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_test</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TEsteeee</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_test.BillingCity</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_test</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Description TEst 8</description>
        <name>Collection_sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection sort</label>
        <locationX>666</locationX>
        <locationY>1140</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>TEsteeee</collectionReference>
        <connector>
            <targetReference>Collection_Filter_test</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>BillingCity</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Description TEst 7</description>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>1194</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Outcome 1 of Decision</label>
        </rules>
        <rules>
            <name>Outcome_2</name>
            <conditionLogic>NOT(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Test_Assignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Collection_Filter_test</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Action</targetReference>
            </connector>
            <label>Outcome 2</label>
        </rules>
        <rules>
            <name>OutCome_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Collection_sort</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.IsActive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>jhgjhb</targetReference>
            </connector>
            <label>OutCome 3</label>
        </rules>
    </decisions>
    <interviewLabel>Transform Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transform Test Flow</label>
    <loops>
        <description>Description TEst 10</description>
        <name>Loop_test</name>
        <label>Loop test</label>
        <locationX>666</locationX>
        <locationY>1356</locationY>
        <collectionReference>Collection_Filter_test</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Description</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Description TEst 3</description>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>1194</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Test_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Test 222</description>
        <name>Test_2</name>
        <label>Test 2</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>tEST 333</description>
        <name>Test_3</name>
        <label>Test 3</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Description TEst 6</description>
        <name>Delete_test</name>
        <label>Delete test</label>
        <locationX>1194</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputReference>Get_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>666</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_sort</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Description TEst 5</description>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>1194</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Description TEst 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Description Test 14</description>
        <name>Description</name>
        <label>Update Records 222</label>
        <locationX>666</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Owner.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>jhgjhb</name>
        <label>Update Test 2</label>
        <locationX>1194</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Test_subflow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Test_22</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Department</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Description Test 4</description>
        <name>Test_Update</name>
        <label>Test Update</label>
        <locationX>1194</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <stringValue>111111</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_3</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Test_Email_Alert</targetReference>
            </connector>
        </scheduledPaths>
        <scheduledPaths>
            <name>Test</name>
            <connector>
                <targetReference>Test_Assignment</targetReference>
            </connector>
            <label>Test</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Test Description</description>
        <name>Test_subflow</name>
        <label>Test subflow</label>
        <locationX>1194</locationX>
        <locationY>1140</locationY>
        <flowName>Flow_1_Error</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>AccData</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TEsteeee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
